name: random_hash
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v1
      with: 
        python-version: 3.11
    - name: Execute script
      run: python random_hash.py